<% content_for :page_title do %>
  MockBot Settings
<% end %>

<div class="row">
  <%= link_to "<- Idea list", admin_mockbot_ideas_url, class: 'button' %>
</div>

<div class="row">
  Note: The server may need to be restarted if you change the API Endpoint.
</div>

<%= form_tag admin_mockbot_settings_url, method: 'PUT', id: 'mockbot-settings-form' do %>
  <div class="form-group">
    <%= label_and_input_for 'homepage', "MockBot Homepage" %>
  </div>
  <div class="form-group">
    <%= label_and_input_for 'api_endpoint', "MockBot API Endpoint" %>
  </div>
  <div class="form-group">
    <%= label_and_input_for 'auth_email', "API Authorization Email" %>
  </div>
  <div class="form-group">
    <%= label_and_input_for 'auth_token', "API Authorization Token" %>
  </div>

  <%= submit_tag 'Update', name: '' %>
  <%= link_to "Reload Defaults", '', class: 'button', id: 'reset-mockbot-settings-button' %>
<% end %>