<% content_for :page_title do %>
  MockBot Settings
<% end %>

<div class="row">
  <%= link_to "<- Idea list", admin_mockbot_ideas_url, class: 'button' %>
</div>

<div class="row">
  Note: The server may need to be restarted if you change an API endpoint.
</div>

<%= form_tag spree.admin_api_settings_url, method: 'PUT', id: 'api-settings-form' do %>
  <% @all_settings.each do |settings| %>
    <div class='form-group margin-bottom-35'>

      <% input = method(:label_and_input_for).to_proc.curry[settings] %>

      <div class="form-group">
        <%= input.call 'homepage', "#{settings.config_prefix.humanize} Homepage" %>
      </div>
      <div class="form-group">
        <%= input.call 'api_endpoint', "#{settings.config_prefix.humanize} API Endpoint" %>
      </div>
      <div class="form-group">
        <%= input.call 'auth_email', "#{settings.config_prefix.humanize} Authorization Email" %>
      </div>
      <div class="form-group">
        <%= input.call 'auth_token', "#{settings.config_prefix.humanize} Authorization Token" %>
      </div>

      <%= link_to "Reload Defaults", spree.admin_default_api_settings_path(settings.id), 
                    class: 'button', 
                    id: "reset-#{settings.config_prefix.underscore.gsub '_', '-'}-settings-button",
                    remote: true
                    %>

    </div>
  <% end %>
  <%= submit_tag 'Update', name: '' %>
<% end %>