<% content_for :page_title do %>
    <%= @idea.working_name %>
<% end %>

<div class='row'>
  <h2>Basic Idea Specs</h2>
  
  <div class="col-sm-6">
    <%= label :sku, "Product SKU" %>
  </div>
  <div class="col-sm-6">
    <%= link_to @idea.sku, admin_mockbot_idea_url(@idea.sku) %>
  </div>

  <div class="col-sm-6">
    <%= label :working_name, "Working Name" %>
  </div>
  <div class="col-sm-6">
    <%= @idea.working_name %>
  </div>

  <div class="col-sm-6">
    <%= label :working_description, "Working Description" %>
  </div>
  <div class="col-sm-6">
    <%= @idea.working_description %>
  </div>


  <div class="col-sm-6">
    <%= label :priority, 'Priority Level' %>
  </div>
  <div class="col-sm-6">
    <%= @idea.priority or "Unknown" %>
  </div>
</div>